
<script>
    var NavButton = Ractive.extend({
       template: '<li><a>{{#icon}}<i class="fa fa-{{icon}}">&nbsp;</i>{{/icon}}{{caption}}</a></li>',
       data: {
           caption: 'Caption',
           icon: false
       }
    });

    var NavDropDown = Ractive.extend({
        template: '<li ><a on-click="showPopup">{{#icon}}<i class="fa fa-{{icon}}">&nbsp;</i>{{/icon}}{{caption}}</a><modal visible="{{showing}}" >{{>content}}</modal></li>',
        data: {
            caption: 'Caption',
            icon: false,
			showing: false
        },
        init: function() {
            this.on("showPopup",function() {
               this.set('showing',true);
            })
        }
    });

    Ractive.components.navbutton = NavButton;
    Ractive.components.navdropdown = NavDropDown;
</script>