.player-wrapper,
.code-wrapper {
    height: 100%;
    max-height: 100%;
    width: 50%;
    position: absolute;
    box-sizing: border-box;
}

.code-wrapper {
    border: 1px solid #666;
}

.player-wrapper {
  right:-4px;
}

.code-wrapper {
  left: -4px;
    background-color: #222;
}

.result-container iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0px;
}


.result-container {
    width: 100%;
    position:absolute;
    top: 0px;
    bottom: 0px;
}



.splitter-vertical {
    width: 8px;
    height: 100%;

    position: absolute;
    top: 5px;
    bottom: 5px;
    cursor: col-resize;
    margin-left:-4px;
}

body,html {
   height: 100%;
}

body {
    padding: 0; margin: 0;
}

#editorContainer div.cols {
    padding: 5px 10px;

    box-sizing: border-box;
    position:absolute;
    top: 50px;
    left: 9px;
    right: 9px;
    bottom: 9px;
}

#editorContainer {
    height: 100%;
    width: 100%;
    background-color: #444;
    box-sizing: border-box;
}
#editor {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

#editorNav {
    height: 50px;
    margin: 0;
    width: 100%;
    background-color: #111;
    color: #ccc;
    font-family: sans-serif;
}

#editorNav .buttons {
    margin: 0;
    padding: 0;
    height: 100%;
}

#editorNav .buttons li {
    line-height: 100%;
    min-width:100px;
    display: block;
    float:left;
    height: 50px;
    text-align: center;
    box-sizing:border-box;
}

#editorNav .buttons li a i.fa {
    margin-right:6px;
}

#editorNav .buttons li a {
    width: 100%;
    text-decoration: none;
    line-height: 50px;
    padding: 0 10px;
    height: 100%;
    display: block;
    box-sizing:border-box;
    cursor: pointer;
}
#editorNav .buttons li a:hover {

    background-color: #222;

}

#player-console {
    width: 100%;
    position: absolute;
    bottom: -4px;
    box-sizing: border-box;
    border: 1px solid #666;
    background-color: #222;
    color: #CCC;
    padding: 3px;
    overflow-y: auto;
    font-size:12px;
    font-family: monaco,monospace;
}
#player-console pre {
    margin: 2px 0;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
.splitter-horizontal {
    height: 8px;
    width: 100%;
    position: absolute;
    cursor: row-resize;
    margin-top: -5px;
}
#result {
    overflow: auto;
    border:1px solid #666;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    width:100%;
    height:100%;
    top: -4px;
    background-color: #222;
}
 #player-container {
    margin:0;
    padding:0;
    position:absolute;
    top:4px;
    left:0;
    bottom:4px;
    right:0
}
#player-console .cmd {
    background-color: #2a2a2d;
}
#player-console .cmd .prompt {
    color: lightseagreen;
}
#editor {
    background-color: #222;
}
#editor .ace_gutter {
    background-color: #2a2a2d;
}

#fileBrowser {
    position: absolute;
    left: 4px;
    color: #ccc;
    top: 55px;
    bottom: 4px;
    background-color: #2a2a2d;
    border: 1px solid #666;
    width: 194px;
    box-sizing:border-box;
}

#fileBrowser .dir i.fa:before {
    content: "\f0dd";
}

#fileBrowser ul {
    list-style: none;
    padding:0;
    margin-left: 10px;
    margin-top:0px;
    font-size:14px;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

#fileBrowser ul li {
    padding-top: 2px;
    padding-bottom: 2px;
}
#fileBrowser .dir.closed i.fa:before {
    content: "\f0da";
}

#editorContainer .loading {
    height: 50px;
    position:absolute;
    top:50%;
    left:0;
    right:0;
    text-align:center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Monaco', monospace;
    color: #CCC;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@-webkit-keyframes pulse {
    from {
        opacity: 0.25;
    }
    50% {
        opacity: 1.0;
    }
    to {
        opacity: 0.25;
    }
}
@-moz-keyframes pulse {
    from {
        opacity: 0.25;
    }
    50% {
        opacity: 1.0;
    }
    to {
        opacity: 0.25;
    }
}
@keyframes pulse {
    from {
        opacity: 0.25;
    }
    50% {
        opacity: 1.0;
    }
    to {
        opacity: 0.25;
    }
}

img.pulse:hover {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 10;
}