<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/vendor/jquery-ui/css/smoothness/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    <script src="/vendor/jquery-ui/js/jquery-1.10.2.js"></script>
    <script src="/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>

</head>
<body>

<div id="editorContainer"></div>

<script id="editorTemplate" type="text/ractive">
    <div id="editorNav">
    </div>
    <div class="cols" on-mousemove="splitter-move" on-mouseup="splitter-end-move">
       <div class="resizable code-wrapper" style='width: {{ splitter.location }}%'>
       <form method="post" action="/run" target="result">
            <input type="hidden" value="<%= slug %>" name="slug">
            <input type="hidden" value="<%= revision %>" name="revision">
            <textarea name="fiddle">
                <%= fiddle %>
            </textarea>
            <input type="submit">
        </form>
        </div>
        <div class="splitter-vertical" style="left: {{splitter.location}}%" on-mousedown="splitter-begin-move" data-splitter="splitter"   ></div>
        <div class="resizable player-wrapper" style='width: {{ 100 - splitter.location }}%'>
        <div class="result-container">
            <iframe name="result" id="result" style='pointer-events: {{ currentSplitter.dragging ? "none" : "auto" }}; height: {{hsplitter.location}}% ' >
            </iframe>
            <div class="splitter-horizontal" style="top: {{hsplitter.location}}%" on-mousedown="splitter-begin-move" data-splitter="hsplitter"></div>
            <div id="player-console" style="height: {{100 - hsplitter.location }}%"></div>
           </div>
        </div>
    </div>
</script>


<script src="/vendor/ractive.js"></script>

<script>
    var ractive = new Ractive({
        el: 'editorContainer',
        template: '#editorTemplate',
        data: {
            hsplitter: {
                location: 50,
                direction: "h"
            },
            splitter: {
                location: 50,
                direction: "v"
            },
            currentSplitter: {}
        },
        complete: function() {

        }
    });
    ractive.on("splitter-begin-move", function(event) {
         this.set('currentSplitter.name', event.node.getAttribute( 'data-splitter' ));
        this.set('currentSplitter.dragging',true);
    });

    ractive.on("splitter-end-move", function(event) {
        this.set('currentSplitter.dragging', false);
    });

    ractive.on("splitter-move", function(event) {

        if (!this.get('currentSplitter.dragging')) return;
        var splitter = this.get('currentSplitter.name');


        if (this.get(splitter+'.direction') == "v") {
            this.set(splitter+'.location',(event.original.pageX/$(window).width()) *100);
        } else {
            this.set(splitter+'.location',((event.original.layerY||event.original.offsetY) /$(event.original.target).parent().height()) *100);
        }
    });



</script>

</body>
</html>