<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/vendor/terminal/jquery.terminal.css' />
    <link rel='stylesheet' href="/vendor/font-awesome-4.0.3/css/font-awesome.min.css" />
</head>
<body>

<div id="editorContainer">
    <div class="loading">Loading...</div>
</div>

<script src="/vendor/jquery-ui/js/jquery-1.10.2.js"></script>
<script src="/vendor/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/vendor/terminal/jquery.terminal-0.8.7.min.js"></script>
<script src="/vendor/underscore-min.js" type="text/javascript"></script>
<script src="/vendor/ractive.js"></script>
<script type="text/javascript" src="/moaijs/moaijs.js"></script>
<script src="/javascripts/b64.js"></script>

<script type="text/javascript" src="/bf/moaifiddle.js"></script>
<script>
    //global fiddle !!!
    var fiddle = b64.base64ToStr(decodeURIComponent("<%- fiddle.encfiddle %>"));

    moaifiddle.on('ready', function() {
        this.setFiddleText(fiddle);
        this.set("slug","<%= fiddle.slug || '' %>");
        this.set("revision","<%= fiddle.revision || 1 %>");
        //load our files
        this.loadFileSystem('/moaijs/moaiapp.rom');
    });

    function consoleWrite(x) {
        moaifiddle.console.echo(x);
    }

    function consoleError(x) {
        moaifiddle.console.error(x);
    }
</script>

</body>
</html>