<script id="shareTemplate" type="text/ractive">
    <div id="shareDialog">
        <label for="sharelink">Share Link</label><br>
        <input type="text" name="sharelink" value="{{ link }}" on-focus="focus" /><br>
        <label for="embedinpage">Embed in page</label><br>
        <input type="text" name="embedinpage" value="{{ iframe }}" on-focus="focus"/><br>
        <h4>Theme</h4>
        <label><input type="radio" name="{{theme}}" value="dark">dark</label>
        <label><input type="radio" name="{{theme}}" value="light">light</label>
    </div>
</script>


<script language="javascript">

        var ShareDialog = Ractive.extend({
            template: '#shareTemplate',
            data: {

                slug: "",
                revision: 1,
                theme: "light"

            },
            computed: {
                link: function() {
                    return location.protocol + '//'+ location.host + "/" + this.get('slug') +'/'+this.get('revision');
                },
                iframe: function() {
                    var link = this.get('link');
                    link = link + '/embed';
                    if (this.get("theme") == "light") {
                        link = link+'?light=true';
                    }
                    return '<iframe src="'+link+'" width="640" height="480" style="border:0"></iframe>';
                }
            },

            init:function() {
                console.log("init share");
                this.on("focus",function(event) {
                    window.setTimeout(function(){                    event.node.select();},1);

                });
            }

        });

        Ractive.components.sharedialog = ShareDialog;


</script>