<script id="shareTemplate" type="text/ractive">
    <div id="shareDialog">
        <label for="sharelink">Share Link</label>
        <input type="text" readonly name="sharelink" value="{{ link() }}" />
        <label for="embedinpage">Embed in page</label>
        <input type="text" readonly name="embedinpage" value="{{ iframe() }}" />
        <h4>Theme</h4>
        <label><input type="radio" name="{{theme}}" value="dark">dark</label>
        <label><input type="radio" name="{{theme}}" value="light">light</label>
    </div>
</script>


<script language="javascript">
        var ShareDialog = Ractive.extend({
            template: 'shareTemplate',
            data: {

                slug: "",
                revision: 1,
                theme: "light",


                link: function() {
                    return location.protcol + '//'+ location.host + "/" + this.get('slug') +'/'+this.get('revision');
                },
                iframe: function() {
                    var link = this.get('link').bind(this)();
                    link = link + '/embed';
                    if (this.get("theme") == "light") {
                        link = link+'?light=true';
                    }
                    return link;
                }
            },

            init:function() {
               alert('hello?');
            }
        });

       // Ractive.components.sharedialog = ShareDialog;


</script>