<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Moai Fiddle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/vendor/font-awesome-4.0.3/css/font-awesome.min.css" />
    <link href="/stylesheets/player-embedded.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/highlightjs/styles/monokai.css">
    <script src="/vendor/highlightjs/highlight.pack.js"></script>

</head>
<body>
<style>
    html {
        height: 100%;
    }
    body {
        color: #CCC;
        font-size: 14px;
        height:100%;
        margin:0;
        padding:0;
        background-color: #202025;
    }

    #moaiplayer {
        width: 100%;
        height: 100%;
        margin:auto;
        background-color: #202025;
    }

    .fiddle-link {
        float: right;
        height: 30px;
        line-height: 30px;
        font-size: 10px;
        margin-right: 10px;
    }
    .fiddle-link a {
        text-decoration: none;
        color: #CCC;
    }

    .moai-cpal {
        width: 200px;
        max-width:100%;
        margin: auto;
        font-size: 10px;
        position:absolute;
        bottom: 40px;
        left: 50%;
        margin-left: -100px;
    }
    .moai-cpal img {
        margin: 5px 0;
        width: 100%;
        opacity: 0.4;
    }
    .moai-cpal a {
        color: #CCC;

    }
    .fiddle-brand {
        font-family: sans-serif;
        font-size: 15px;
        margin: 5px;
        text-align: left;
    }

    #runMe {
        position: absolute;
        width: 150px;
        height: 100px;
        border: 1px;

        top: 40%;
        left: 50%;
        margin-left: -75px;
        margin-top: -50px;
        border-radius: 10px;
        border: 1px solid #CCC;
        background-color: #CCC;
        opacity: 0.4;
        z-index:100;
        line-height: 100px;
        color: #777;
        font-size: 65px;

    }
    #runMe:hover {
        opacity: 1;
    }
</style>

<div id="moaiplayer" class="moai-player"  data-title="MOAI Player" data-ram="64">
    <div class="moai-window code">
        <div class="moai-header">
            <span class="moai-title">MOAI</span><span class="moai-status">Loading..</span>
            <div style="clear:both"></div>
        </div>
        <div class="moai-info">
            <% if (fiddle.hidecode) { %>
                <div class="fiddle-brand">MoaiFiddle</div>
                <div id="runMe"><i class="fa fa-play"></i></div>
                <div class="moai-cpal">
                        <img src="/images/moailogo-white.svg">
                        <a href="http://www.getmoai.com">www.getmoai.com</a>
                </div>
            <% } else { %>
                <pre><code><%= fiddle.fiddle %></code></pre>
            <% } %>

        </div>
        <div class="moai-canvas-wrapper"><canvas class="moai-canvas"  tabindex="1"></canvas></div>
        <div class="moai-footer">
            <i id="moai-play" class="fa fa-play">&nbsp;</i>
            <i id="moai-code" class="fa fa-code">&nbsp;</i>
            <i id="moai-pause" class="fa fa-pause">&nbsp;</i>

            <div class="fiddle-link"><a href="/<%= fiddle.slug %>/<%= fiddle.revision %>"><i class="fa fa-pencil"></i> Edit in MoaiFiddle</a></div>
            <div class="moai-attrib">
                Made with Moai
                www.getmoai.com
                Copyright (c) 2010-2012 Zipline Games, Inc. All Rights Reserved.
            </div>
        </div>
    </div>



</div>

<!-- we need these -->
<script type="text/javascript" src="/moaijs/howler.js"></script>
<script src="/vendor/jquery-ui/js/jquery-1.10.2.js"></script>
<!-- the app -->
<script type="text/javascript" src="/moaijs/moaijs.js"></script>
<script type="text/javascript" src="/moaijs/moaihost.js"></script>
<script src="/javascripts/b64.js"></script>

<script>
    hljs.initHighlightingOnLoad();
    var player = new MoaiPlayer($("#moaiplayer"),true);
    var script =b64.base64ToStr(decodeURIComponent("<%- fiddle.encfiddle %>"));
    var firstrun = true;
    function doRun () {
        $(".moai-window").removeClass("code");
        $(".moai-canvas-wrapper")[0].style.display = "table-row";
        $(".moai-info")[0].style.display = "none";
        if (firstrun) {
            firstrun = false;
            player.loadRom('/moaijs/moaiapp.rom');
            player.runString(script);
        } else {
            player.unpause();
        }
    }


    $("#runMe").on("click",doRun);
    $("#moai-play").on("click",doRun);
    $("#moai-code").on("click", function() {
        player.stop();
        firstrun = true;
        $(".moai-window").addClass("code");
        $(".moai-canvas-wrapper")[0].style.display = "none";
        $(".moai-info")[0].style.display = "table-row";
    })

</script>

</body>
</html>